  /* Copyright 2022 ecdestro */
  
  body {
    margin: 5pt;
    padding: 5pt;
  }
  div.navbar {
    background-color: cornflowerblue;
    min-height: max-content;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
  }
  a.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: xx-large;
    color: white;
  }
  p, h1, h2, h3, li, ul, footer {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10pt;
  }
  .step0 {
    color: red
  }
  .step0 {
    font-weight: 700;
  }
  .blue {
    color: blue;
  }
  em {
    color: red;
  }
  table {
    width: 60%;
    border-collapse: collapse;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10pt;
    padding: 0%;
  }
  table, th, td {
    border: 1px solid black;
  }
  th {
    background-color: skyblue;
    text-align: center;
    height: 30px;
  }
  tr {
    background-color: white;
  }
  tr:hover {
    background-color: lightgray;
  }
  .highlight {
    background-color: lightgreen;
  }
  footer {
    position: fixed;
    bottom: 0px;
  }
  input {
    margin: 5pt;
    padding: 5pt;
  }